.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    color: transparentize($white, 0.15);
    transition: all 0.2s;

    &:hover {
      color: $white;
    }
  }

  &__icon {
    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &--big {
    & .social-list__icon {
      font-size: 3rem;
    }
  }
}
