// Colors
$white: #fff;

$blue-light: #2b67d4;
$blue: #1e4895;
$blue-dark: #153268;

$gray-light: #efefef;
$gray: #777;
$gray-dark: #343a40;

// Brands
$color-primary-light: $blue-light;
$color-primary: $blue;
$color-primary-dark: $blue-dark;

$color-secondary: $gray;
$color-secondary-dark: $gray-dark;

// Width
$container-width: 114rem;

// Paddings/Margins
$section-margin: 5rem 0;

// Fonts
$font-family-base: 'Open Sans', sans-serif;

// Border
$border-radius-1: 3px;
